#style1 {
    background-color: burlywood;
    padding: 5vh 0 5vh 35vw;
}

#style2 {
    background-color: cadetblue;
    padding: 5vh 0 5vh 35vw;
}

#style3 {
    background-color: darkkhaki;
    padding: 5vh 0 5vh 35vw;
}